.App {
  background-color: #0B0C10;
  padding: 2em;
}

.projects {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.experiences {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-around;
}

.side-bar {
  color: white;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 600px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.main {
  margin-left: 600px; /* Same as the width of the sidebar */
  padding: 0 10px;
}

.experience-label {
  color: #C5C6C7;
  font-size: 30px;
}

.project-label {
  color: #C5C6C7;
  font-size: 30px;
}